<div class="w-64 h-full bg-white ">
  <div class="flex flex-col h-full">
    <div class="flex-1">
      <div class="flex items-top justify-start h-screen bg-gray-100 p-6">
        <ul class="flex flex-col gap-3 w-full">
            <%= link_to welcome_index_path, { data: { prefetch: false } } do %>
              <li class="text-gray-800 p-2 rounded-md hover:bg-gray-200 w-full cursor-pointer">
                  Dashboard
              </li>
            <% end %>
            <%= link_to users_path, { data: { prefetch: false } } do %>
              <li class="text-gray-800 p-2 rounded-md hover:bg-gray-200 w-full cursor-pointer">
                Users
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
